@media (max-width: 991px) {
    body {
        .title {
            &_left {
                font-size: 20px;
                text-align: center;
            }
            &_three {
                font-size: 25px;
            }
            
        }
        .consultetion {
            min-height: 540px;
            padding: 55px 0 60px 0;
            &__descr {
                font-size: 15px;
                text-align: center; 
            }
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 30px;
        }
        .catalog {
            padding-bottom: 30px;
            &__tab {
                width: 204px;
                height: 51px;
            }
            &__content {
                justify-content: space-around;
            }
        }
        .carousel {
            &__inner {
                width: 609px;
                img {
                    max-width: 599px;
                    max-height: 389px;
                }
            }
        }
        .reviews {
            &__wrapper {
                margin-top: 20px;
                font-size: 13px;
            }
        }
        .footer {
            &__info {
                width: 360px;
                height: 180px;
                padding: 20px 53px 17px 53px;
            }
            &__addr {
                margin-bottom: 15px;
                font-size: 15px;
            }
            &__phone {
                margin-bottom: 15px;
                font-size: 15px;
            }
            &__social-item {
                height: 40px;
                width: 40px;
                img {
                    height: 20px;
                }
            }
        }
    }
    
}


@media (max-width: 767px) {
    body {
        .promo {
            &__header {
                font-size: 30px;
            }
            .header {
                &__logo {
                    width: 170px;
                }
                &__official {
                    font-size: 11px;
                }
                &__phone {
                    font-size: 15px;
                }
            }
            &__wrapper {
                align-items: center;
                margin: 60px;
            }
            &__subheader {
                font-size: 20px;
            }
            &__icons {
                margin-top: 30px;
            }
            &__link {
                font-size: 15px;
            }
        }
        .button {
            width: 125px;
            font-size: 11px;
            &_main {
                margin-top: 35px;
                font-size: 10px;
            }
            &_submit {
                width: 100%;
            }
            &_mini {
                width: 85px;
            }
        }
        .advantages {
            padding-top: 40px;
            padding-bottom: 40px;
            &__icons {
                margin-top: 30px;
            }
            &__icon {
                font-size: 12px;
            }

        }
        .title {
            font-size: 25px;
            &_mini {
                font-size: 15px;
            }
            &_left {
                font-size: 20px;
            }
        }
        .feed-form {
            width: 230px;
        }
        .catalog {
            &__tab {
                width: 158px;
                height: 40px;
                font-size: 13px;
                line-height: 38px;
            }
            &__tabs {
                margin-top: 27px;

            }
            &-item {
                width: 230px;
                &__img {
                    height: 145px;
                }
                &__price {
                    font-size: 15px;
                }
                &__old-price {
                    font-size: 10px;
                }
                hr {
                    margin-top: -100px;
                }
            }
        }
        .carousel {
            padding: 40px 0;
            &__inner {
                width: 576px;
            }
        }
        
        
    }
    
}


@media (max-width: 575px) {
    body {
        .promo {
            min-height: 573px;
            padding: 21px 0 1px 0;
            .header {
                &__logo {
                    img {
                        width: 130px;
                    }
                }
                &__official {
                    display: none;
                }
                &__phone {
                    font-size: 11px;
                }
                &__contacts {
                    .button {
                        width: 125px;
                    }
                }
            }
            &__header {
                font-size: 15px;
            }
            &__subheader {
                text-align: center;
                margin-top: 5px;
                font-size: 11px;
            }
            &__icons {
                width: 310px;
            }

        }
        .advantages {
            padding-bottom: 50px;
            &__icon {
                font-size: 10px;
            }
            &__icons {
                align-items: flex-start;
            }
        }
        .title {
            font-size: 20px;
            &_mini {
                margin-top: 15px;
                font-size: 12px;
            }
            &_left {
                font-size: 13px;
            }
        }
        .consultetion {
            min-height: 450px;
            padding: 55px 0 18px 0;
            &__descr {
                font-size: 10px;
            }
        }
        .button {
            &_submit {
                height: 40px;
            }
        }
        .feed-form {
            input {
                height: 40px;
            }
        }
        .carousel {
            &__inner {
                width: 319px;
                img {
                    max-width: 316px;
                    max-height: 217px;
                }
            }
        }
        .catalog {
            &__tab {
                width: 90px;
                font-size: 10px;
                line-height: 35px;
                &:last-child {
                    line-height: 17px;
                }
            }
        }
        .reviews {
            &__wrapper {
                flex-direction: column;
            }
            &__title {
                margin-top: 15px;
            }
        }
        .footer {
            &__info {
                width: 322px;
            }
        }
    }
    
    
    

    

    

    
        
}
    
    
