@import 'base/mixins';
@import 'base/variables';
@import 'base/media';

* {
    font-family: 'MuseoModerno', cursive;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';