.advantages {
    padding: 73px 0 65px 0;
    min-height: 473px;
    background: #F6F6F6;
    &__icons {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__icon {
        width: 270px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        &_animated {
            animation: heartbaet 1.5s ease infinite;
            // animation-name: heartbaet;
            // animation-duration: 1.5s;
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
        img {
            display: block;
            margin: 0 auto;
        } 
        span {
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
}